LOCATE COMP "clk_25mhz" SITE "J3";
IOBUF PORT "clk_25mhz" IO_TYPE=LVCMOS33;

LOCATE COMP "ftdi_txd" SITE "A11";
IOBUF PORT "ftdi_txd" IO_TYPE=LVCMOS33;

LOCATE COMP "ftdi_rxd" SITE "A12";
IOBUF PORT "ftdi_rxd" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B8";
LOCATE COMP "led[1]" SITE "A8";
LOCATE COMP "led[2]" SITE "C9";
LOCATE COMP "led[3]" SITE "C8";
LOCATE COMP "led[4]" SITE "A9";
LOCATE COMP "led[5]" SITE "B9";
LOCATE COMP "led[6]" SITE "A10";
LOCATE COMP "led[7]" SITE "B10";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;
